In [1]:
import pandas as pd

In [2]:
#Upload all required data files

df = pd.read_csv("https://raw.githubusercontent.com/jewjux/sc1015-dsai/main/data/kmodes_cluster.csv") #kmodes clustering
kmodes = df.drop(columns=['Unnamed: 0'])

df2 = pd.read_csv("https://raw.githubusercontent.com/jewjux/sc1015-dsai/main/data/kmeans_cluster.csv") #kmeans clustering
df3 = df2.drop(columns=['Unnamed: 0'])
df4 = df3.drop([227])
kmeans = df4.reset_index(drop=False)

df5 =  pd.read_csv("cleaned_1015.csv") #original file for movie titles
df6 = df5.drop([227])
original = df6.reset_index(drop=False)

In [3]:
#Merging dataframes together and clean up 

df6 = original.drop(columns = ["Unnamed: 0"])
df6["kmodes_cluster"] = kmodes["Cluster"]
df6["kmeans_cluster"] = kmeans["cluster"]
final = df6.drop(columns = ["index"])
final

,TITLE,ID,VOTE_AVERAGE,BUDGET,REVENUE,DECADE_RELEASED,MAIN_GENRE,kmodes_cluster,kmeans_cluster
0,Avatar,19995,7.6,237000000,2920357254,2000s,Action,0,2
1,Avengers: Endgame,299534,8.3,356000000,2799439100,2010s,Adventure,2,2
2,Avatar: The Way of Water,76600,7.7,460000000,2293000000,2020s,Science Fiction,0,2
3,Titanic,597,7.9,200000000,2187463944,1990s,Drama,0,2
4,Star Wars: The Force Awakens,140607,7.3,245000000,2068223624,2010s,Adventure,2,2
...,...,...,...,...,...,...,...,...,...
6965,At Long Last Love,4704,5.5,6000000,1500000,1970s,Comedy,1,0
6966,Under Capricorn,4175,6.0,2500000,1500000,Before 1960s,Crime,0,0
6967,Stolen Kisses,255,7.3,350000,1500000,1960s,Comedy,1,0
6968,To Be or Not to Be,198,7.9,1200000,1500000,Before 1960s,Comedy,1,0
6969,The Raven,29056,6.4,350000,1499275,1960s,Comedy,1,0

In [4]:
#Function for getting all possible recommendations
def find_equals(userinput):
    try:
        index = final.index[final['TITLE'] == userinput].tolist()
        value1 = index[0]
        kmodes_cluster_no = (final.loc[value1]["kmodes_cluster"])
        kmeans_cluster_no = (final.loc[value1]["kmeans_cluster"])
        recommend = final[(final["kmodes_cluster"] == kmodes_cluster_no) & (final["kmeans_cluster"] == kmeans_cluster_no)]
        return recommend
    except:
        print("Movie not in database. Try another movie.")

#Function for processing recommendations
def recommendations(table):
    actual_list = table['TITLE'].values.tolist()
    return actual_list

In [5]:
#User interface functions
def user_intro():
    print("Welcome to movie recommendation database")
    print()
    print("1: Input movie")
    print("2: Exit")
    print()
    
def interface():
    #Introduction
    user_intro()
    
    #Menu
    choice = input("Please choose an option ")
    
    while choice != "1": 
        if choice == "2":
            print("Thank you for using the database. Feel free to suggest improvements.")
            break 
            
        else:
            print("Invalid input. Please try again.")
            print()
            choice = input("Please choose an option ")
    
    #Actual recommendation program
    if choice == "1":
        userInput = input("Please input movie you want recommendations to be made from (Follow exact wording from TMDB website) ")
        while True:
            try: 
                x = find_equals(userInput)
                y = recommendations(x)
                j = 0
                break
            except: 
                userInput = input("Please input movie you want recommendations to be made from (Follow exact wording from TMDB website) ")
                continue

        anymore = True
        print("Here are some suggestions")
        print()
        for i in range(10):
            try:
                print(y[j])
                j += 1
            except:
                print("Sorry no more movies to recommend")
                break
        
        continue_input = input("Would you like any more recommendations? (Y/N) ")
        while True:
            if continue_input == "Y":
                for i in range(10):
                    try:
                        print(y[j])
                        j += 1
                    except:
                        print("Sorry no more movies to recommend")
                        print()
                        anymore = False
                        break
                        
                if anymore == True:
                    print()
                    continue_input = input("Would you like any more recommendations? (Y/N) ")
                
                else:
                    continue_input = "N"
                    continue

            elif continue_input == "N":
                    print("Thank you for using the database. Feel free to suggest improvements.")
                    break

            else:
                print("Invalid input. Please try again.")
                continue_input = input("Would you like any more recommendations? ")

In [6]:
#Execution
interface()

Welcome to movie recommendation database

1: Input movie
2: Exit

Please choose an option 1
Please input movie you want recommendations to be made from (Follow exact wording from TMDB website) Hugo
Here are some suggestions

Avengers: Endgame
Star Wars: The Force Awakens
Avengers: Infinity War
The Lion King
The Avengers
Frozen II
Star Wars: The Last Jedi
Frozen
Beauty and the Beast
Captain America: Civil War
Would you like any more recommendations? (Y/N) Y
Transformers: Age of Extinction
Star Wars: The Rise of Skywalker
Toy Story 4
Toy Story 3
Aladdin
Pirates of the Caribbean: On Stranger Tides
Finding Dory
Alice in Wonderland
Zootopia
The Hobbit: An Unexpected Journey

Would you like any more recommendations? (Y/N) Y
The Jungle Book
The Hobbit: The Desolation of Smaug
Harry Potter and the Deathly Hallows: Part 1
The Battle at Lake Changjin
Guardians of the Galaxy Vol. 2
Inside Out
Coco
Pirates of the Caribbean: Dead Men Tell No Tales
Maleficent
Madagascar 3: Europe's Most Wanted

Would you like any more recommendations? (Y/N) Y
Monsters University
Dawn of the Planet of the Apes
Interstellar
Moana
Kung Fu Panda 2
Big Hero 6
Fantastic Beasts: The Crimes of Grindelwald
Iron Man 2
How to Train Your Dragon 2
Tangled

Would you like any more recommendations? (Y/N) Y
Ready Player One
Cars 2
Brave
Ralph Breaks the Internet
How to Train Your Dragon
Oz the Great and Powerful
Maleficent: Mistress of Evil
War for the Planet of the Apes
Wreck-It Ralph
Thor

Would you like any more recommendations? (Y/N) Y
Terminator Genisys
The Chronicles of Narnia: The Voyage of the Dawn Treader
TRON: Legacy
Snow White and the Huntsman
Solo: A Star Wars Story
Godzilla: King of the Monsters
Cars 3
The Legend of Tarzan
Dumbo
Prince of Persia: The Sands of Time

Would you like any more recommendations? (Y/N) Y
The Good Dinosaur
Rise of the Guardians
Battleship
Wrath of the Titans
Alice Through the Looking Glass
Mr. Peabody & Sherman
Exodus: Gods and Kings
Terminator: Dark Fate
Blade Runner 2049
Dark Phoenix

Would you like any more recommendations? (Y/N) Y
Valerian and the City of a Thousand Planets
Green Lantern
The Sorcerer's Apprentice
Tomorrowland
Jack the Giant Slayer
The BFG
Hugo
Jupiter Ascending
47 Ronin
Pan

Would you like any more recommendations? (Y/N) Y
Mars Needs Moms
Sorry no more movies to recommend

Thank you for using the database. Feel free to suggest improvements.